.login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.login-form > * {
  border: 1px solid gray;
  border-radius: 4px;
  height: 40px;
}

.login-form input {
  text-indent: 10px;
}

.login-form button {
  margin-top: 10px;
}

.login-page {
  border: 1px solid gray;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  left: 50%;
  margin: -220px -210px;
  padding: 80px 10px;
  position: fixed;
  row-gap: 60px;
  text-align: center;
  top: 50%;
  width: 400px;
}
