.expense-form {
  background-color: #272a33;
  color: white;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: smaller;
  justify-content: center;
  padding: 20px;
}

.expense-form label {
  align-items: center;
  display: flex;
  gap: 5px;
  margin-right: 15px;
}

.expense-form button {
  align-self: center;
  height: fit-content;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr th {
  background-color: #31393e;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  padding: 16px 20px;
}

tbody tr {
  color: #272a33;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  height: 60px;
  text-align: center;
}
